.form {
  padding: 15px;
}

.input {
  width: 200px;
  padding: 10px;
  color: rgb(22, 12, 12);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  outline: none;
  border-radius: 25px;
  border: 1px solid rgb(12, 12, 51);
}
