.castUl {
  list-style-type: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.castCard {
  width: 330px;
  display: flex;
  flex-direction: column;
  background-color: rgba(151, 244, 244, 0.905);
  gap: 2px;
  border: 1px solid rgb(35, 163, 95);
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(31, 176, 195, 0.3);
  overflow: hidden;
}

.text {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}
