.title {
  display: flex;
  padding: 25px;
  color: rgb(9, 15, 62);
}

.navActive {
  text-decoration: none;
}

.active {
  color: rgb(9, 15, 62);
  font-size: 24px;
  margin: 15px 0 15px;
  text-decoration: none;
}

.active:hover {
  color: rgba(119, 31, 31, 0.61);
}
