.wrapper {
  width: 100%;
  padding: 25px;
  background-color: rgb(14, 14, 72);
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper a {
  color: white;
  text-decoration: none;
}

a.isActive {
  color: rgb(35, 161, 96);
  text-decoration: none;
}
